<div class="restore form-container">
    <h1 class="form-container_header">Reset <span>Password</span></h1>
    <div class="form-container_body">
        <form [formGroup]="form" 
              *ngIf="!isLinkSent; else messageLoaded"
              class="side-form"
              (ngSubmit)="onResetPassword()">
            <mat-form-field class="side-form_field password">
                <mat-label>Password</mat-label>
                <input [type]="showPassword ? 'text' : 'password'"
                       id="password"
                       matInput placeholder="Password"
                       [formControl]="password">
                            <button mat-icon-button matSuffix (click)="onPasswordVisibilityChange()"
                                    [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="!showPassword">
                                        <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                            </button>                
                <mat-error *ngIf="password.hasError('required')">
                  Password is reqired
                </mat-error>
            </mat-form-field>
            <mat-form-field class="side-form_field password">
                <mat-label>Confirm Password</mat-label>
                <input [type]="showConfirmPassword ? 'text' : 'password'"
                       id="confirmPassword"
                       matInput placeholder="Password"
                       [formControl]="confirmPassword">
                            <button mat-icon-button matSuffix (click)="onPasswordVisibilityChange(true)"
                                    [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="!showConfirmPassword">
                                        <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                            </button>
                <mat-error *ngIf="confirmPassword.hasError('required')">
                  Confiramtion is reqired
                </mat-error>
            </mat-form-field>
            <div class="side-form_login-link">
                <a routerLink="/login" class="form-link">Back to Sign In</a>
            </div>
            <div class="side-form_error">
                <div *ngIf="hasError" class="login-form_error-text">{{ errorText }}</div>
            </div>
            <button mat-raised-button 
                    class="auth-button"
                    color="primary"
                    type="submit"
                    [disabled]="!form.touched || form.invalid || isLoading"
                    [class.disabled]="!form.touched || form.invalid || isLoading">
                Apply
            </button>
        </form>
        <div class="sent" #messageLoaded>
            <p class="auth-message">{{ messageText }}
            </p>
            <p class="back-text">Back to 
                <a routerLink="/login" class="form-link">Sign In</a>
            </p>    
        </div>
    </div>
</div>