<div class="restore form-container">
    <h1 class="form-container_header">Forgot <span>Password</span></h1>
    <div class="form-container_body">
        <form [formGroup]="form" 
              *ngIf="!isLinkSent; else messageLoaded"
              class="side-form"
              (ngSubmit)="onRestorePassword()">
            <mat-form-field class="side-form_field email">
                <mat-label>Email</mat-label>
                <input id="email" matInput
                        placeholder="Email"
                        [formControl]="email">
                <mat-error *ngIf="email.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="email.hasError('email')">
                    Invalid email
                </mat-error>
            </mat-form-field>
            <div class="side-form_login-link">
                <a routerLink="/login" class="form-link">Back to Sign In</a>
                </div>
                <div class="side-form_error">
                    <div *ngIf="hasError" class="login-form_error-text">{{ errorText }}</div>
                </div>
                <button mat-raised-button 
                        class="auth-button"
                        color="primary"
                        type="submit"
                        [disabled]="!form.touched || form.invalid || isLoading"
                        [class.disabled]="!form.touched || form.invalid || isLoading">
                    Send Link
                </button>
            </form>
            <div class="after-success" #messageLoaded>
                <p class="auth-message"> {{ messageText }}</p>
                <p class="back-text">Back to 
                    <a routerLink="/login" class="form-link">Sign In</a>
                </p>
            </div>
    </div>
</div>