<mat-nav-list class="menu-list">
  <a mat-list-item routerLink="/home" 
                    matTooltip="Home"
                    [matTooltipPosition]="'right'">
    <mat-icon class="material-symbols-outlined">home</mat-icon>
  </a>
  <a mat-list-item routerLink="/dashboard/trees" 
                    matTooltip="Dashboard" 
                    [matTooltipPosition]="'right'">
    <mat-icon class="material-symbols-outlined">account_tree</mat-icon>
  </a>
  <a mat-list-item routerLink="/data-management/persons" 
                    matTooltip="Person Manager"
                    [matTooltipPosition]="'right'">
    <mat-icon class="material-symbols-outlined">view_list</mat-icon>
  </a>
  <a mat-list-item routerLink="/user-management/connections" 
                    matTooltip="Users"
                    [matTooltipPosition]="'right'">
    <mat-icon class="material-symbols-outlined">person</mat-icon>
  </a>
  <a mat-list-item routerLink="/requests" 
                    matTooltip="Communicating"
                    [matTooltipPosition]="'right'">
    <mat-icon class="material-symbols-outlined">mail</mat-icon>
  </a>
</mat-nav-list>